/* App.css */

.App {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.top-bar {
  background-color: #222831;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid #3a3838;
  position: relative;
}

.top-bar .app-title {
  position: absolute;
  color: #A91D3A;
  left: 60px;
  top: -18px;
  font-size: 40px;
  font-family: 'League Spartan', sans-serif;
//text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  cursor: default;
}

.top-bar .log-in-button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  background: #A91D3A;
  border: none;
}

.top-bar .log-in-button:hover {
  background: #C73659;
  cursor: pointer;
}

.top-bar .register-button {
  position: absolute;
  right: 120px;
  bottom: 10px;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  background: #A91D3A;
  border: none;
}

.top-bar .register-button:hover {
  background: #C73659;
  cursor: pointer;
}

.top-bar .create-button {
  position: absolute;
  right: 80px;
  bottom: 10px;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  background: #A91D3A;
  border: none;
}

.top-bar .create-button:hover {
  background: #C73659;
  cursor: pointer;
}

.profile-button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  bottom: 4px;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s;
  cursor: pointer;
}

.profile-button:hover {
  border-color: #C73659;
}

.profile-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left-sidebar {
  background-color: #222831;
  padding: 10px;
  width: 100px;
  height: 91.2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #3a3838;
  z-index: 2;
}

.sidebar-button {
  background-color: #222831;
  color: #aaa;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-button:hover {
  background-color: #A91D3A;
}

.app-body {
  background-color: #222831;
  text-align: center;
  width: 100vw;
  height: 93.4vh;

}

body {
  height: 100vh;
  width: 100vw;
  background-color: #222831;
  overflow: hidden;
}

.search-bar {
  width: 25%;
  padding: 10px;
  border: none;
  background: #393E46;
  border-radius: 18px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:white;
}

.chef-hat {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  display: inline;
  position: absolute;
  left: 14px;
  bottom: 10px;
}


@keyframes slideInOut {
  0% {
    left: -100%;
  }
  25% {
    left: 0px;
  }
  75% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}

.notifications {
  position: fixed;
  top: 250px;
  width: 115px;
  left: -100%;
  animation: slideInOut 4s ease-in-out forwards;
  z-index: 1000;
  text-align: center;
}

.notification {
  background-color: #e1e1e1;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-fill-mode: forwards;
}

.notification img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.notifications:nth-child(1) {
  animation-delay: 0s;
}
.notifications:nth-child(2) {
  animation-delay: 2s;
}

.filter-section {
  position: absolute;
  top: 20px;
  left: 63%;
  width: 160px;
  display: flex;
  flex-direction: row;
  text-align: center;
  background: rgb(23, 80, 166,0);
  font-size: 14px;
}

.dropdown1 {
  z-index: 2;
  text-align: center;
  color: #aaa;
  width: 80px;
}

.dropdown2 {
  z-index: 2;
  text-align: center;
  color: #aaa;
  width: 80px;
}

.dropdown-header {
  cursor: default;
}

.filter-select {
    width: 100px;
    height: 200px;
    padding: 5px;
    border: 1px solid #3a3838;
    border-radius: 5px;
    background: #222831;
    color: #aaa;
    cursor: pointer;

}

.clear-filter-button {
  position: absolute;
  right: 370px;
  bottom: 10px;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  background: #A91D3A;
  border: none;
}

.search-bar-select {
    width: 25%;
    padding: 10px;
    border: none;
    background: #393E46;
    border-radius: 18px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-search {
  width: 90px;
  background: #222831;
  color: #aaa;
  margin-top: 5px;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



