.track .track-image {
    width: 30vmin;
    height: 56vmin;
    object-position: right;
    object-fit: cover;
    border-radius: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.track {
    display: flex;
    overflow: hidden;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    background: #222831;
}

.drag-images {
    position: absolute;
    top: 40%;
    left: 20%;
    color:  #aaa;
}

.drag-flavor {
    position: absolute;
    top: 45%;
    left: 16%;
    color:  #aaa;

}

.secret-message {
    position: absolute;
    top: 40%;
    right: 20%;
    color:  #aaa;
}

.secret-flavor {
    position: absolute;
    top: 45%;
    right: 18.9%;
    color:  #aaa;
}