.recipe-container {
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 5% 0 5%;
}

.recipe-item {
    text-align: center;
    cursor: pointer;
    background: #222831;
    width: 320px;
    border: none;
    border-radius: 10px;
    align-items: flex-start;
}

.recipe {
    padding: 10px;
}

.recipe-item img {
    width: 275px;
    height: 275px;
    border-radius: 10px 10px 10px 10px;
}

.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.recipe-item:hover::after {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: calc(98.5%);
    height: calc(99.5%);
    border-bottom: 7px solid #A91D3A;
    border-right: 7px solid #A91D3A;
    border-radius: 10px;
}

.recipe-item p {
    color: #A91D3A;
    margin: 10px 0;
    font-size: 24px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .recipe-list {
        padding: 0 5% 0 5%;
    }

    .recipe-item {
        width: calc(50% - 20px);
    }

    .recipe-item:nth-child(odd) {
        margin-right: 20px;
    }

    .recipe-item img {
        width: 100%;
        height: auto;
    }
}
