.recipe-details-container {
    height: 740px;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 140px;
    color : white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color:  #2c313a;
}

.recipe-container-2 {
    height: 740px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 498px;
    right: 330px;
    bottom: 30px;
    color : white;
    padding: 20px 30px 20px 30px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color:  #2c313a;
    overflow-y: auto;
}

.recipe-container-3 {
    height: 740px;
    width: 240px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 30px;
    color : white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color:  #2c313a;
    overflow-y: auto;
}

.recipe-container-3 p {
    margin: 0;
}

.recipe-container-3 span {
    display: block; /* Each ingredient on one line */
    margin-bottom: 5px; /* Add margin between each ingredient */
}

.recipe-container-3 ul {
    text-align: left;
}

.recipe-container-3 ul li {
    margin-bottom: 5px;
}


.recipe-details-container img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    align-self: center; /* Center the image horizontally */
}

.recipe-details-review-page-button {
    background-color: #A91D3A;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: -10px;
    align-self: center;
}

.recipe-details-review-page-button:hover {
    background-color: #C73659;
}


.recipe-details-edit-button {
    background-color: #A91D3A;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    position: absolute;
    bottom: 25px;
    left: 80px;
}

.recipe-details-edit-button:hover {
    background-color: #C73659;
}

.recipe-details-delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    position: absolute;
    bottom: 25px;
    right: 80px;
}

.recipe-details-delete-button:hover {
    background-color: #c82333;
}

.recipe-details-edit-button-review {
    background-color: #A91D3A;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    position: absolute;
    bottom: 25px;
    left: 40px;
}

.recipe-details-edit-button-review:hover {
    background-color: #C73659;
}

.recipe-details-delete-button-review {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    position: absolute;
    bottom: 25px;
    right: 40px;
}

.recipe-details-delete-button-review:hover {
    background-color: #c82333;
}

.recipe-details-review-button {
    background-color: #A91D3A;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    position: absolute;
    bottom: 25px;
    right: 100px;
    left: 100px;
}

.recipe-details-review-button:hover {
    background-color: #C73659;
}

.recipe-title {
    font-size: 28px;
    margin-bottom: -20px;
    margin-top: -10px;
}

.recipe-info {
    flex: 1; /* To occupy remaining space */
    margin-top: 30px;
}

.recipe-info p {
    margin-bottom: 8px;
}

.recipe-info strong {
    font-weight: bold;
}

.recipe-info a {
    color: #007bff;
    text-decoration: none;
}

.recipe-info a:hover {
    text-decoration: underline;
}

.recipe-info a:visited {
    color: #007bff;
}

.recipe-description {
    clear: both; /* Ensure the description is below the floated image */
}

.facebook-share-button{
}

.whatsapp-share-button{
    align-self:  flex-end;
}

.share-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 84px;
}
